{% extends 'base.html' %}
{% block content %}

<h1>Bookmark Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ bookmark.name }}</span>
        <p>Color: {{ bookmark.color }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'bookmarks_update' bookmark.id %}">Edit</a>
        <a href="{% url 'bookmarks_delete' bookmark.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}