{% extends 'base.html' %}
{% block content %}

<h1>Book Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ book.title }}</span>
        <p>Author: {{ book.author }}</p>
        <p>Description: {{ book.description }}</p>
        <p>Published Year: {{ book.publishedyear }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'books_update' book.id %}">Edit</a>
        <a href="{% url 'books_delete' book.id %}">Delete</a>
      </div>
    </div>
    {% for photo in book.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}" alt="Book Photo">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<!-- new code below -->
<form action="{% url 'add_photo' book.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <button type="submit" class="btn">Upload Photo</button>
</form>
  </div>
  <div class="col s6">
    <form action="{% url 'add_reading' book.id %}" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ reading_form.as_p }}
      <input type="submit" class="btn" value="Add Reading">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Time</th></tr>
        <th></th>
      </thead>
      <tbody>
        {% for reading in book.reading_set.all %}
          <tr>
            <td>{{reading.date}}</td>
            <td>{{reading.time}}</td>
            <td><a href="{% url 'reading_delete' reading.id %}" class="btn">Delete Reading</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ book.title }}'s Bookmarks</h3>
    {% if book.bookmarks.count %}
      {% for bookmark in book.bookmarks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ bookmark.color }}">{{ bookmark.color }}</span> {{ bookmark.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_bookmark' book.id bookmark.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn-small">REMOVE
                <i class="material-icons right">delete</i>
              </button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Bookmarks</h5>
    {% endif %}
  </div>
  <!-- Available bookmarks will come after this line -->
  <div class="col s6">
    <h3>Available Bookmarks</h3>
    {% if bookmarks.count %}
      {% for bookmark in bookmarks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ bookmark.color }}">{{ bookmark.color }}</span> {{ bookmark.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_bookmark' book.id bookmark.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn-small">ADD
                <i class="material-icons right">add</i>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{book.title}} Already Has All Bookmarks Available</h5>
    {% endif %}
  </div>
</div>


<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}